{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="container-row">
            <div class="shape">
                {{ shape|raw }}
            </div>
        </div>
    </div>
{% endblock %}